
<div class="container mt-4" style="max-width:55rem;">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="shadow-lg p-4 mb-5 bg-body rounded">
              <div class="card text-white bg-dark mb-3" style="max-width: 40rem;">
                <div class="card-header shadow-lg">
                    <h2 class="bg-dark p-2 mt-lg-1 text-center text-ligh">User Register</h2>
                </div>
              </div>  
                <div class="card-body">
                    <form action="login.php" method="post">
                        <form action="/action_page.php" class="was-validated">
                          <form [formGroup]="UserViewForm" (ngSubmit)="OnSubmit()">
                            <div class="row mb-4">
                              <div class="col">
                                <div class="form-outline">
                                  <input type="text" id="form3Example1" class="form-control"formControlName="userName" />
                                  <label class="form-label" for="form3Example1">First name</label>
                                  <div class="invalid-feedback">Please fill out this field.</div>
                                </div>
                              </div>
                              <div class="col">
                                <div class="form-outline">
                                  <input type="text" id="form3Example2" class="form-control"formControlName="userLestName" />
                                  <label class="form-label" for="form3Example2">Last name</label>
                                  <div class="invalid-feedback">Please fill out this field.</div>
                                </div>
                              </div>
                            </div>
                            <!-- Email input -->
                            <div class="form-outline mb-4">
                              <input type="email" id="form3Example3" class="form-control" formControlName="email"/>
                              <label class="form-label" for="form3Example3">Email address</label>
                              <div class="invalid-feedback">Please fill out this field.</div>
                            </div>
                          
                            <!-- Password input -->
                            <div class="form-outline mb-4">
                              <input type="password" id="form3Example4" class="form-control"formControlName="password" minlength="8" />
                              <label class="form-label" for="form3Example4">Password</label>
                              <div class="invalid-feedback">Please fill out this field.</div>
                            </div>
                          
                            <!-- Checkbox -->
                            <div class="form-check d-flex justify-content-center mb-4">
                              <input class="form-check-input me-2" type="checkbox" value="" id="form2Example33" checked />
                              <label class="form-check-label" for="form2Example33">
                                Subscribe to our newsletter
                              </label>
                            </div>
                          
                            <!-- Submit button -->
                            <button type="submit" class="btn btn-dark btn-block mb-4" [routerLink]="'/web/login'">Sign up</button>

                          </form>
                            <!-- Register buttons -->
                            <div class="text-center">
                              <p>or sign up with:</p>
                              <button type="button" class="btn btn-light btn-floating mx-1">
                                <img src="assets/icons8-github-25.png ">
                                <i class="fab fa-facebook-f"></i>
                              </button>
                          
                              <button type="button" class="btn btn-light btn-floating mx-1">
                                <img src="assets/icons8-facebook-28.png">
                                <i class="fab fa-google"></i>
                              </button>
                          
                              <button type="button" class="btn btn-light btn-floating mx-1">
                                <img src="assets/icons8-instagram-30.png">
                                <i class="fab fa-twitter"></i>
                              </button>
                          
                              <button type="button" class="btn btn-light btn-floating mx-1">
                                <img src="assets/icons8-twitter-28.png">
                                <i class="fab fa-github"></i>
                              </button>

                              <button type="button" class="btn btn-light btn-floating mx-1">
                                <img src="assets/icons8-pinterest-25.png ">
                                <i class="fab fa-github"></i>
                              </button>
                            </div>
                          </form>
                          
                    </form>
                </div>   
            </div>
        </div>
    </div>
</div>



