<section class="container nav">
  <nav class="navbar navbar-expand-sm navbar-dark bg-dark fixed-top ">
      <div class="container-fluid">
        <a class="navbar-brand" href="javascript:void(0)"><img src="assets/farmer-high-resolution-logo-transparent (1).png"class="logo" alt=""></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-center" id="mynavbar">
          <ul class="navbar-nav me-auto ">
            <li class="nav-item">
              <a class="nav-link"aria-current="page2"[routerLink]="'/page1'">Farmer</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" aria-current="page2"[routerLink]="'/page2'">Groceries</a>
            </li>
            <li class="nav-item">
              <a class="nav-link"aria-current="page2"[routerLink]="'/nursery'">Nursery Plants</a>
            </li>
            <li class="nav-item">
              <a class="nav-link"aria-current="page2"[routerLink]="'/page4'">The Weaver</a>
            </li>
            <li class="nav-item">
              <a class="nav-link"aria-current="page2"[routerLink]="'/contact'">Contact Us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link"aria-current="page2"[routerLink]="'/contact'">Contact Us</a>
            </li>
          </ul>
          <i class="" style="font-size: 30px;" [routerLink]="'/favourite'"><img src="assets/icons8-flower-30 (3).png"></i>
        <div style="font-size: 9px;" class="badge bg-danger Search">{{favourite}}</div>&nbsp;&nbsp;&nbsp;
          <i class="" style="font-size: 30px;" [routerLink]="'/card'"><img src="assets/icons8-shopping-cart-24.png"></i>
            <div style="font-size: 9px;" class="badge bg-danger Search">{{totalcard}}</div>
            &nbsp;&nbsp;&nbsp;
            <form class="d-flex">
              <div>
              <button class="btn btn-light rounded-pill "[routerLink]="'/logout'" type="button">Logout</button>
              </div>
            </form>
        </div>
      </div>
    </nav>
</section> 
<br><br>
<div class="image-container ">
    <div class="container-fluid mt-3">
      <div class="row">
        <div class="col text-center">
          <img src="assets/Firefly Aquaculture-rivers vine and fishs 89413(1).png" style="width:auto; height:auto;" class="img-fluid img">
        </div>
      </div>
    </div>
  </div>
  <br>
  <div class="text-center">
      <h1 class="text-uppercase">Aquaculture is breeding</h1>
      <br>
      <p>In India, Two types of aquaculture are practiced. These are Fresh water aquaculture and brackish water aquaculture. Freshwater aquaculture involves the breeding of freshwater fish like carp, catla, rohu, magur, freshwater prawn, freshwater pearl culture and ornamental fish farming</p>
  </div>
<br>
  <div class="container">
      <div class="row">
        <!-- Image Column -->
        <div class="col-6 col-md-6">
          <div class="">
          <img src="assets/jean-wimmerlin-ePvBOHsAA54-unsplash.jpg" alt="Your Image" class="img-fluid img shadow-lg p-0 mb-5 bg-body rounded-5">
          </div>
        </div>
  
        <!-- Content Column -->
        <div class=" col-6 col-md-6">
          <h2>aquaculture of fish</h2>
          <h6>aquaculture, also called fish farming, fish culture, or mariculture, the propagation and husbandry of aquatic plants, animals, and other organisms for commercial, recreational, and scientific purposes Carp are one of the dominant fishes in aquaculture. The adaptable tilapia is another commonly farmed fish. Mariculture refers to the cultivation of marine organisms in seawater, usually in sheltered coastal or offshore waters.</h6>
          <br>
          <h2>There are three types of food used in fish ponds</h2>
           <h6>natural food,
            supplementary feeds,
            complete feeds, Kelp
            Carotenoid,
            Fish Oil,
            Oils,
            Fish Meal,
            Microalgae, Shrimp.</h6>
          <!-- Add your content here -->
        </div>
      </div>
    </div>
    <div class="text-center">
      <h1></h1>
      <p></p>
    </div>
    <br>
    <div class="container reveal">
      <div class="row">
        <!-- Image Column -->
        <div class="col-6 col-md-6">
         <h1>prawn an aquaculture</h1>
         <h6>A freshwater prawn farm is an aquaculture business designed to raise and produce freshwater prawns or shrimp for human consumption</h6>
         <h2>prawns to grow</h2>
         <h6>Generally in monoculture the culture period may be 6-8 months under monoculture and 8-12 months under polyculture. The average growth of prawn may range from 50 gms to 200 gms depending on the duration, density, water quality, feeding etc</h6>
         <h3>Major Crops</h3>
         <h6>Crops which are very benefits and return the desired products for farmers which is grown for sale to return a profit are known as commercial crops. Examples are cotton, sugarcane, jute, ramie etc. The most important commercial crop of India is Sugarcane . India has the largest area under sugarcane cultivation in the world.</h6>
        </div>
  
        <!-- Content Column -->
        <div class="col-6 col-md-6">
          <div class="">
              <img src="assets/etienne-girardet-WTPMcV1NZuY-unsplash.jpg" alt="Your Image" class="img-fluid img shadow-lg p-0 mb-5 bg-body rounded-5">
              </div>
        </div>
      </div>
    </div>
    <br>
    <div class="container reveal">
        <div class="row">
          <!-- Image Column -->
          <div class="col-6 col-md-6">
            <div class="">
            <img src="assets/mae-mu-rXDCb-Bmgdg-unsplash.jpg" alt="Your Image" class="img-fluid img shadow-lg p-0 mb-5 bg-body rounded-5">
            </div>
          </div>
    
          <!-- Content Column -->
          <div class="col-6 col-md-6">
            <h2>crab farming</h2>
            <h6>Mud crab farming is done by two methods. i. Grow- out culture. In this method, young crabs are grown for a period of 5 to 6 months till they attain desirable size. Mud crab grow-out systems are generally pond based, with or without mangroves.</h6>
            <br>
            <h2>feeding do crabs</h2>
             <h6>Its feeding habit is omnivorous, although when both algae and animal prey are available, there is preference for animal prey, but not for a specific animal group 28.Crabs are notoriously greedy and have a super sense of smell, so the smellier the bait the better. Firm favourites are raw liver, bacon, sardines, squid and fish heads.
                </h6>
            <!-- Add your content here -->
          </div>
        </div>
      </div>
   <!--<section class="mb-5 mb-lg-10">-->
  
      <h3 class="fw-bold text-center mb-4">Pricing</h3>
      <section class="container">
        <div class="container">
          <div class="row">
            <div class="col-6 col-md-6">
        
              <div class="card shadow-lg rounded-5">
                <div class="card-header text-center pt-4">
                  <p class="text-uppercase p">
                    <strong>Basic</strong>
                  </p>
        
                </div>
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <img src="assets/19199540.jpg" class="img-fluid image9">
    
                    </div>
                    <div class="col">
    
                    </div>
                  </div>
                </div>
              </div>
        
            </div>
        
            <div class="col-6 col-md-6">
        
              <div class="card shadow-lg rounded-5">
                <div class="card-header text-center pt-4">
                  <p class="text-uppercase p">
                    <strong>Advanced</strong>
                  </p>
                </div>
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <img src="assets/2381975.jpg" class="img-fluid image10">
    
                    </div>
                    <div class="col">
    
                    </div>
                </div>
              </div>
            </div>
          </div>
        </div>
       </div>
    </section>
    <br>

    <section class="content">
      <!-- Footer -->
    <footer class="text-center text-lg-start text-light bg-dark text-muted shadow-lg rounded-top-5">
      <!-- Section: Social media -->
      <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
        <!-- Left -->
        <div class="me-5 d-none d-lg-block text-white">
          <span>Get connected with us on social networks:</span>
        </div>
        <!-- Left -->
    
        <!-- Right -->
        <div class="">
          <a href="" class="me-4 link-secondary">
            <i class="" style="font-size: 24px;" [routerLink]="'/card'"><img src="assets/icons8-facebook-f-24.png"></i>
          </a>
          <a href="" class="me-4 link-secondary">
            <i class="" style="font-size: 24px;" [routerLink]="'/card'"><img src="assets/icons8-instagram-25.png"></i>
          </a>
          <a href="" class="me-4 link-secondary">
            <i class="" style="font-size: 24px;" [routerLink]="'/card'"><img src="assets/icons8-linkedin-25.png"></i>
          </a>
          <a href="" class="me-4 link-secondary">
            <i class="" style="font-size: 24px;" [routerLink]="'/card'"><img src="assets/icons8-twitter-25 (1).png"></i>
          </a>
        </div>
        <!-- Right -->
      </section>
      <!-- Section: Social media -->
    
      <!-- Section: Links  -->
      <section class="">
        <div class="container text-center text-md-start mt-5 text-white">
          <!-- Grid row -->
          <div class="row mt-3">
            <!-- Grid column -->
            <div class="col-3 col-md-3 col-lg-4 col-xl-3 mx-auto mb-4 ">
              <!-- Content -->
              <h5 class="text-uppercase mb-4">
                <i class="" style="margin-right: 10px;" [routerLink]="'/card'"><img src="assets/farmer-high-resolution-logo-white-transparent.png" class="logo"></i>
              </h5>
              <p>
                “Agriculture is the most healthful, most useful, and most noble employment of man.”
              </p>
            </div>
            <!-- Grid column -->
    
            <!-- Grid column -->
            <div class="col-3 col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
              <!-- Links -->
              <h5 class="text-uppercase  mb-4">
               Product 
              </h5>
              <p>
                <a href="#!" class="text-reset ">Rice</a>
              </p>
              <p>
                <a href="#!" class="text-reset">Coffee</a>
              </p>
              <p>
                <a href="#!" class="text-reset">Spices</a>
              </p>
              <p>
                <a href="#!" class="text-reset">Pulsees</a>
              </p>
            </div>
            <!-- Grid column -->
    
            <!-- Grid column -->
            <div class="col-3 col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
              <!-- Links -->
              <h5 class="text-uppercase  mb-4">
                Useful links
              </h5>
              <p>
                <a href="" class="text-reset">Farmer</a>
              </p>
              <p>
                <a href="" class="text-reset">Agirculture</a>
              </p>
              <p>
                <a href="" class="text-reset">Aquaculture</a>
              </p>
              <p>
                <a href="" class="text-reset">The Weaver</a>
              </p>
              
              
            </div>
            <!-- Grid column -->
    
            <!-- Grid column -->
            <div class="col-3 col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
              <!-- Links -->
              <h5 class="text-uppercase  mb-4">Contact</h5>
              <p><i class="i"[routerLink]="'/card'"><img src="assets/icons8-homeadvisor-24.png" class="icon"></i>
                 2-134,cinima veedhi,G.vemavaram,East Godavari,Andhra Pradesh-533464
                </p>
              <p>
                <i class="img"  [routerLink]="'/card'"><img src="assets/icons8-gmail-24.png"  class="icon"></i>
                 Farmer&#64;gmail.com
              </p>
              <p><i class="i"  [routerLink]="'/card'"><img src="assets/icons8-phone-24.png"  class="icon"></i> +91 93478 77756</p>
              <p><i class="i"  [routerLink]="'/card'"><img src="assets/icons8-phone-24 (1).png"  class="icon"></i>+91 96667 54367
    
              </p>
            </div>
            <!-- Grid column -->
          </div>
          <!-- Grid row -->
        </div>
      </section>
      <!-- Section: Links  -->
    
      <!-- Copyright -->
      <div class="text-center text-light p-4" style="background-color: rgba(239, 233, 233, 0.025);">
        © 2023 Copyright:
        <a class="text-reset fw-bold" href="https://mdbootstrap.com/">Farmer.com</a>
      </div>
      <!-- Copyright -->
    </footer>
    <!-- Footer -->
    </section>
  