
<div class="image-container ">
    <div class="container-fluid mt-3">
      <div class="row">
        <div class="col text-center">
          <img src="assets/Firefly Aquaculture-fishys-water 20922 (1).png" style="width: 1000px; height:250px;" class="img-fluid img">
        </div>
      </div>
    </div>
  </div>
  <ul class="nav justify-content-center reveal">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page2"[routerLink]="'/page2'">Agriculture</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-dark"aria-current="page2"[routerLink]="'/page3'">Aquaculture</a>
    </li>
    <li class="nav-item">
      <a class="nav-link"aria-current="page1"[routerLink]="'/page1'" >farmer</a>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">The Weaver</a>
    </li>
  </ul>
  <br>
  <div class="text-center reveal">
      <h1 class="text-uppercase">Aquaculture is breeding</h1>
      <br>
      <p>In India, Two types of aquaculture are practiced. These are Fresh water aquaculture and brackish water aquaculture. Freshwater aquaculture involves the breeding of freshwater fish like carp, catla, rohu, magur, freshwater prawn, freshwater pearl culture and ornamental fish farming</p>
  </div>
<br>
  <div class="container reveal">
      <div class="row">
        <!-- Image Column -->
        <div class="col-md-6">
          <div class="">
          <img src="assets/david-clode-o3r7oVPZnZI-unsplash-fotor-bg-remover-20231001132256.png" alt="Your Image" class="img-fluid img-fluids animated-image">
          </div>
        </div>
  
        <!-- Content Column -->
        <div class="col-md-6">
          <h2>aquaculture of fish</h2>
          <h6>aquaculture, also called fish farming, fish culture, or mariculture, the propagation and husbandry of aquatic plants, animals, and other organisms for commercial, recreational, and scientific purposes Carp are one of the dominant fishes in aquaculture. The adaptable tilapia is another commonly farmed fish. Mariculture refers to the cultivation of marine organisms in seawater, usually in sheltered coastal or offshore waters.</h6>
          <br>
          <h2>There are three types of food used in fish ponds</h2>
           <h6>natural food,
            supplementary feeds,
            complete feeds, Kelp
            Carotenoid,
            Fish Oil,
            Oils,
            Fish Meal,
            Microalgae, Shrimp.</h6>
          <!-- Add your content here -->
        </div>
      </div>
    </div>
    <div class="text-center">
      <h1></h1>
      <p></p>
    </div>
    <br>
    <br>
    <div class="container reveal">
      <div class="row">
        <!-- Image Column -->
        <div class="col-md-6">
         <h1>prawn an aquaculture</h1>
         <h6>A freshwater prawn farm is an aquaculture business designed to raise and produce freshwater prawns or shrimp for human consumption</h6>
         <h2>prawns to grow</h2>
         <h6>Generally in monoculture the culture period may be 6-8 months under monoculture and 8-12 months under polyculture. The average growth of prawn may range from 50 gms to 200 gms depending on the duration, density, water quality, feeding etc</h6>
         <h3>Major Crops</h3>
         <h6>Crops which are very benefits and return the desired products for farmers which is grown for sale to return a profit are known as commercial crops. Examples are cotton, sugarcane, jute, ramie etc. The most important commercial crop of India is Sugarcane . India has the largest area under sugarcane cultivation in the world.</h6>
        </div>
  
        <!-- Content Column -->
        <div class="col-md-6">
          <div class="">
              <img src="assets\ray-aucott-N608DF9lq94-unsplash-fotor-bg-remover-20231001152137.png" alt="Your Image" class="img-fluid animated-images">
              </div>
        </div>
      </div>
    </div>
    <br>
    <br>
    <div class="container reveal">
        <div class="row">
          <!-- Image Column -->
          <div class="col-md-6">
            <div class="">
            <img src="assets/wexor-tmg-L-2p8fapOA8-unsplash-fotor-bg-remover-20231001164158.png" alt="Your Image" class="img-fluid animated-imagess">
            </div>
          </div>
    
          <!-- Content Column -->
          <div class="col-md-6">
            <h2>crab farming</h2>
            <h6>Mud crab farming is done by two methods. i. Grow- out culture. In this method, young crabs are grown for a period of 5 to 6 months till they attain desirable size. Mud crab grow-out systems are generally pond based, with or without mangroves.</h6>
            <br>
            <h2>feeding do crads</h2>
             <h6>Its feeding habit is omnivorous, although when both algae and animal prey are available, there is preference for animal prey, but not for a specific animal group 28.Crabs are notoriously greedy and have a super sense of smell, so the smellier the bait the better. Firm favourites are raw liver, bacon, sardines, squid and fish heads.
                </h6>
            <!-- Add your content here -->
          </div>
        </div>
      </div>
   <!--<section class="mb-5 mb-lg-10">-->
  
      <h3 class="fw-bold text-center mb-4">Pricing</h3>
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-12 mb-3">
    
          <div class="card shadow-lg ">
            <div class="card-header text-center pt-4">
              <p class="text-uppercase">
                <strong>Basic</strong>
              </p>
    
            </div>
            <div class="card-body">
    
            </div>
          </div>
    
        </div>
    
        <div class="col-lg-4 col-md-6 mb-3">
    
          <div class="card shadow-lg">
            <div class="card-header text-center pt-4">
              <p class="text-uppercase">
                <strong>Advanced</strong>
              </p>
            </div>
            <div class="card-body">
            </div>
          </div>
    
        </div>
    
        <div class="col-lg-4 col-md-6 mb-3">
    
          <div class="card shadow-lg">
            <div class="card-header text-center pt-4">
              <p class="text-uppercase">
                <strong >Enterprise</strong>
              </p>
            </div>
            <div class="card-body">
            </div>
          </div>
    
        </div>
      </div>
    </div>
  