<section class="container nav">
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark fixed-top ">
        <div class="container-fluid">
          <a class="navbar-brand" href="javascript:void(0)"><img src="assets/farmer-high-resolution-logo-transparent (1).png"class="logo" alt=""></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse justify-content-center " id="mynavbar">
            <ul class="navbar-nav me-auto ">
              <li class="nav-item">
                <a class="nav-link"aria-current="page2"[routerLink]="'/page1'">Farmer</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" aria-current="page2"[routerLink]="'/page2'">Groceries</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle"aria-current="page2"[routerLink]="'/nursery'" role="button" data-bs-toggle="dropdown">Nursery Plants</a>
                <ul class="dropdown-menu ">
                  <li><a class="dropdown-item bg-dark text-light" [routerLink]="'/nursery-store'">nursery store</a></li>
                </ul>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link "aria-current="page2"[routerLink]="'/page4'" >The Weaver</a>
              </li>
              <li class="nav-item">
                <a class="nav-link"aria-current="page2"[routerLink]="'/contact'">Contact Us</a>
              </li>
            </ul>
            <i class="" style="font-size: 30px;" [routerLink]="'/favourite'"><img src="assets/icons8-flower-30 (3).png"></i>
            <div style="font-size: 9px;" class="badge bg-danger Search">{{favourite}}</div>&nbsp;&nbsp;&nbsp;
            <i class="" style="font-size: 30px;" [routerLink]="'/card'"><img src="assets/icons8-shopping-cart-24.png"></i>
            <div style="font-size: 9px;" class="badge bg-danger Search">{{totalcard}}</div>
            &nbsp;&nbsp;&nbsp;
              <form class="d-flex">
                <div>
                <button class="btn btn-light rounded-pill "[routerLink]="'/logout'" type="button">Logout</button>
                </div>
              </form>
          </div>
        </div>
      </nav>
  </section> 
  <br><br>
  <div class="image-container">
      <div class="container-fluid mt-3">
        <div class="row">
          <div class="col text-center">
            <img src="assets/Firefly Nursery -difference colours in flowers and leafs 86833.png" id="animated-image"style="width: auto; height:auto;" class="img-fluid img">
          </div>
        </div>
      </div>
    </div>
  <br>
    <div class="text-center container">
        <h1>Welcome to Green Haven: Where Nature Meets Your Home </h1>
        <p>At Green Haven, we believe in the transformative power of plants. Step into our virtual nursery, a haven where nature's beauty meets the comfort of your home. Whether you're a seasoned plant enthusiast or just beginning your green journey, we have the perfect botanical companion for you</p>
    </div>
    <br>
  
    <div class="container">
        <div class="row">
          <!-- Image Column -->
          <div class="col-6 col-md-6">
            <div class="text-center">
            <img src="assets/1912.i305.023_florist seller flowers shop.jpg" alt="Your Image" class="img-fluid img ">
            </div>
          </div>
    
          <!-- Content Column -->
          <div class="col-6 col-md-6">
            <h2>Diverse Plant Collection</h2>
            <p>Explore a lush collection of plants, each carefully curated to bring nature's diversity to your living space. From vibrant succulents to majestic ferns, there's a green friend waiting to thrive in your home</p>
            <h2> Blooms of Beauty</h2>
            <p>Elevate your surroundings with our flowering wonders. From delicate orchids to bold and colorful blooms, our floral selection adds a touch of elegance to any space.</p>
            <h2> Indoor and Outdoor Varieties</h2>
             <p>Whether you're cultivating an indoor oasis or transforming your garden, we have a variety of plants suited for every environment. Create your own green paradise with our diverse range.</p>
            <!-- Add your content here -->
          </div>
        </div>
      </div>
      <br>
      <div class="text-center container">
        <h1>Plant Parenthood Made Easy</h1>
        <p></p>
      </div>
      <br>
    
    
      <div class="container reveal">
        <div class="row">
          <!-- Image Column -->
          <div class="col-6 col-md-6">
           <h2>Care Tips and Guides</h2>
           <p>Our commitment goes beyond just selling plants. Access care tips and guides to ensure your new botanical friends thrive. From watering schedules to sunlight preferences, we're here to make plant parenthood a breeze.</p>
           <h2>Seamless Shopping Experience</h2>
           <p>Navigate our user-friendly website to discover and purchase the perfect plants for your space. Effortlessly fill your cart and have your new green companions delivered directly to your doorstep.</p>
           <h2>Plant Accessories and Tools</h2>
           <p>Enhance your plant care routine with our selection of accessories and tools. From stylish pots to essential gardening equipment, we have everything you need to nurture your botanical haven.</p>
          </div>
    
          <!-- Content Column -->
          <div class="col-6 col-md-6">
            <div class="text-center">
                <img src="assets/11254.jpg" alt="Your Image" class="img-fluid  img">
                </div>
          </div>
        </div>
      </div>
      <br>
      <div class="text-center container">
        <h1>Join the Green Haven Community</h1>
        <p></p>
      </div>
      <br>
  
    
      <div class="container reveal">
          <div class="row">
            <!-- Image Column -->
            <div class="col-6 col-md-6">
              <div class="text-center">
              <img src="assets/5488415.jpg" alt="Your Image" class="img-fluid  img">
              </div>
            </div>
      
            <!-- Content Column -->
            <div class="col-6 col-md-6">
              <h2>Virtual Garden Tours</h2>
              <p>Take a virtual stroll through our nursery. Explore the beauty of each plant and gather inspiration for your own green sanctuary.</p>
            
              <h2>Exclusive Green Tips</h2>
              <p>Sign up for our newsletter to receive exclusive green tips, plant care hacks, and special offers. Join a community passionate about fostering a love for plants.&nbsp;&nbsp;

                Welcome to Green Haven, where the beauty of nature finds a home in yours. Embrace the joy of plant parenthood and let the green transformation begin.&nbsp;&nbsp;
                
                Grow. Thrive. Flourish. At Green Haven.</p>
            
              <!-- Add your content here -->
            </div>
          </div>
        </div>
     <!--<section class="mb-5 mb-lg-10">-->  
  <br>
  <br>
  <div class="row">
    <div class="col-6 col-sm-6 text-end">
      <img src="assets/3792477.jpg" alt="logo" class="logo3 img-fluid">
    </div>
    <div class="col-6 col-sm-6">
        <button class="btn btn-dark btn-lg center" style="margin-top: 70px; margin-left: 20px;" [routerLink]="'/nursery-store'">Nursery Store</button>
    </div>
  </div>
  <br>
  <section class="content">
    <!-- Footer -->
  <footer class="text-center text-lg-start text-light bg-dark text-muted shadow-lg rounded-top-5">
    <!-- Section: Social media -->
    <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
      <!-- Left -->
      <div class="me-5 d-none d-lg-block text-white">
        <span>Get connected with us on social networks:</span>
      </div>
      <!-- Left -->
  
      <!-- Right -->
      <div class="">
        <a href="" class="me-4 link-secondary">
          <i class="" style="font-size: 24px;" [routerLink]="'/card'"><img src="assets/icons8-facebook-f-24.png"></i>
        </a>
        <a href="" class="me-4 link-secondary">
          <i class="" style="font-size: 24px;" [routerLink]="'/card'"><img src="assets/icons8-instagram-25.png"></i>
        </a>
        <a href="" class="me-4 link-secondary">
          <i class="" style="font-size: 24px;" [routerLink]="'/card'"><img src="assets/icons8-linkedin-25.png"></i>
        </a>
        <a href="" class="me-4 link-secondary">
          <i class="" style="font-size: 24px;" [routerLink]="'/card'"><img src="assets/icons8-twitter-25 (1).png"></i>
        </a>
      </div>
      <!-- Right -->
    </section>
    <!-- Section: Social media -->
  
    <!-- Section: Links  -->
    <section class="">
      <div class="container text-center text-md-start mt-5 text-white">
        <!-- Grid row -->
        <div class="row mt-3">
          <!-- Grid column -->
          <div class="col-3 col-md-3 col-lg-4 col-xl-3 mx-auto mb-4 ">
            <!-- Content -->
            <h5 class="text-uppercase mb-4">
              <i class="logo" style="margin-right: 10px;" [routerLink]="'/card'"><img src="assets/farmer-high-resolution-logo-white-transparent.png" class="logo"></i>
            </h5>
            <p>
              “Agriculture is the most healthful, most useful, and most noble employment of man.”
            </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-3 col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h5 class="text-uppercase  mb-4">
             Product 
            </h5>
            <p>
              <a href="#!" class="text-reset ">Rice</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Coffee</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Spices</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Pulsees</a>
            </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-3 col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h5 class="text-uppercase  mb-4">
              Useful links
            </h5>
            <p>
              <a href="" class="text-reset">Farmer</a>
            </p>
            <p>
              <a href="" class="text-reset">Agirculture</a>
            </p>
            <p>
              <a href="" class="text-reset">Aquaculture</a>
            </p>
            <p>
              <a href="" class="text-reset">The Weaver</a>
            </p>
            
            
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-3 col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            <!-- Links -->
            <h5 class="text-uppercase  mb-4">Contact</h5>
            <p><i class="i"[routerLink]="'/card'"><img src="assets/icons8-homeadvisor-24.png" class="icon"></i>
               2-134,cinima veedhi,G.vemavaram,East Godavari,Andhra Pradesh-533464
              </p>
            <p>
              <i class="img"  [routerLink]="'/card'"><img src="assets/icons8-gmail-24.png"  class="icon"></i>
               Farmer&#64;gmail.com
            </p>
            <p><i class="i"  [routerLink]="'/card'"><img src="assets/icons8-phone-24.png"  class="icon"></i> +91 93478 77756</p>
            <p><i class="i"  [routerLink]="'/card'"><img src="assets/icons8-phone-24 (1).png"  class="icon"></i>+91 96667 54367
  
            </p>
          </div>
          <!-- Grid column -->
        </div>
        <!-- Grid row -->
      </div>
    </section>
    <!-- Section: Links  -->
  
    <!-- Copyright -->
    <div class="text-center text-light p-4" style="background-color: rgba(239, 233, 233, 0.025);">
      © 2023 Copyright:
      <a class="text-reset fw-bold" href="https://mdbootstrap.com/">Farmer.com</a>
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->
  </section>
