<div class="image-container">
    <div class="container-fluid mt-3">
      <div class="row">
        <div class="col text-center">
          <img src="assets/Firefly Agriculture-Agriculture 82097.png" id="animated-image"style="width: 950px; height:250px;" class="img-fluid img">
        </div>
      </div>
    </div>
  </div>
  <br>
  <ul class="nav justify-content-center reveal">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page2"[routerLink]="'/page2'">Agriculture</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-dark"aria-current="page2"[routerLink]="'/page3'">Aquaculture</a>
    </li>
    <li class="nav-item">
      <a class="nav-link"aria-current="page1"[routerLink]="'/page1'" >farmer</a>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">The Weaver</a>
    </li>
  </ul>
  <br>
  <br>
  <div class="text-center reveal">
      <h1>MAJOR CROPS OF INDIA</h1>
      <p>India grows almost each and every crop. Can you think why? If we consider the
        varieties of crop grown from Kashmir to Kanyakumari and western coast of Gujarat
        to extreme north eastern states of Arunachal Pradesh, there would be hundreds of
        crops. We group all these crops into four broad types. Let us discuss the main crops
        under each type in detail:</p>
  </div>
  
  <br>
  <div class="container reveal">
      <div class="row">
        <!-- Image Column -->
        <div class="col-md-6">
          <div class="shadow-lg p-0 mb-5 bg-body rounded">
          <img src="assets/r-s-sagar-qjFjOfboWOA-unsplash (1).jpg" alt="Your Image" class="img-fluid">
          </div>
        </div>
  
        <!-- Content Column -->
        <div class="col-md-6">
          <h2>Food grains</h2>
          <h6>Crops that are
            used for human
            consumption</h6>
          <br>
          <h2>Major Crops</h2>
           <h6>Grain is the harvested seed of grasses such as wheat, oats, rice, and corn. Other important grains include sorghum, millet, rye, and barley. Around the globe, grains, also called cereals, are the most important staple food. Humans get an average of 48 percent of their calories, or food energy, from grains</h6>
          <!-- Add your content here -->
        </div>
      </div>
    </div>
    <div class="text-center">
      <h1></h1>
      <p></p>
    </div>
    <br>
    <br>
    <div class="container reveal">
      <div class="row">
        <!-- Image Column -->
        <div class="col-md-6">
         <h1>Commercial Crops</h1>
         <h6>Crops which are grown
            for sale either in raw form
            or in semi-processed form</h6>
         <h2>Major Crops</h2>
         <h6>Crops which are very benefits and return the desired products for farmers which is grown for sale to return a profit are known as commercial crops. Examples are cotton, sugarcane, jute, ramie etc. The most important commercial crop of India is Sugarcane . India has the largest area under sugarcane cultivation in the world.</h6>
        </div>
  
        <!-- Content Column -->
        <div class="col-md-6">
          <div class="shadow-lg p-0 mb-5 bg-body rounded">
              <img src="assets/victoria-priessnitz-IPuuhSmsFIc-unsplash.jpg" alt="Your Image" class="img-fluid">
              </div>
        </div>
      </div>
    </div>
    <br>
    <br>
    <div class="container reveal">
        <div class="row">
          <!-- Image Column -->
          <div class="col-md-6">
            <div class="shadow-lg p-0 mb-5 bg-body rounded">
            <img src="assets/timothy-newman-_ZH-GRbh0iE-unsplash.jpg" alt="Your Image" class="img-fluid">
            </div>
          </div>
    
          <!-- Content Column -->
          <div class="col-md-6">
            <h2>Plantation Crops</h2>
            <h6>Crops which are grown
                on Plantations covering
                large estates</h6>
            <br>
            <h2>Major Crops</h2>
             <h6>Plantation crops are perennial crops that are grown on a large scale by an individual or a company.
                For example, rubber, tea, coffee, oil palm, coconut, etc. They are also known as cash crops.
                </h6>
            <!-- Add your content here -->
          </div>
        </div>
      </div>
   <!--<section class="mb-5 mb-lg-10">-->
  
      <h3 class="fw-bold text-center mb-4">Pricing</h3>
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-12 mb-3">
    
          <div class="card shadow-lg ">
            <div class="card-header text-center pt-4">
              <p class="text-uppercase">
                <strong>Basic</strong>
              </p>
    
            </div>
            <div class="card-body">
    
            </div>
          </div>
    
        </div>
    
        <div class="col-lg-4 col-md-6 mb-3">
    
          <div class="card shadow-lg">
            <div class="card-header text-center pt-4">
              <p class="text-uppercase">
                <strong>Advanced</strong>
              </p>
            </div>
            <div class="card-body">
            </div>
          </div>
    
        </div>
    
        <div class="col-lg-4 col-md-6 mb-3">
    
          <div class="card shadow-lg">
            <div class="card-header text-center pt-4">
              <p class="text-uppercase">
                <strong >Enterprise</strong>
              </p>
            </div>
            <div class="card-body">
            </div>
          </div>
    
        </div>
      </div>
    </div>
