<section class="container nav">
  <nav class="navbar navbar-expand-sm navbar-dark bg-dark fixed-top ">
      <div class="container-fluid">
        <a class="navbar-brand" href="javascript:void(0)"><img src="assets/farmer-high-resolution-logo-transparent (1).png"class="logo" alt=""></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-center" id="mynavbar">
          <ul class="navbar-nav me-auto ">
            <li class="nav-item">
              <a class="nav-link"aria-current="page2"[routerLink]="'/page1'">Farmer</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle"aria-current="page2"[routerLink]="'/page2'" role="button" data-bs-toggle="dropdown">Groceries</a>
              <ul class="dropdown-menu ">
                <li><a class="dropdown-item bg-dark text-light" [routerLink]="'/page10'">Farmer Store</a></li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link"aria-current="page2"[routerLink]="'/nursery'">Nursery Plants</a>
            </li>
            <li class="nav-item">
              <a class="nav-link"aria-current="page2"[routerLink]="'/page4'">The Weaver</a>
            </li>
            <li class="nav-item">
              <a class="nav-link"aria-current="page2"[routerLink]="'/contact'">Contact Us</a>
            </li>
          </ul>
            <i class="" style="font-size: 30px;" [routerLink]="'/favourite'"><img src="assets/icons8-flower-30 (3).png"></i>
            <div style="font-size: 9px;" class="badge bg-danger Search">{{favourite}}</div>&nbsp;&nbsp;&nbsp;
            <i class="" style="font-size: 30px;" [routerLink]="'/card'"><img src="assets/icons8-shopping-cart-24.png"></i>
            <div style="font-size: 9px;" class="badge bg-danger Search">{{totalcard}}</div>
            &nbsp;&nbsp;&nbsp;
            <form class="d-flex">
              <div>
              <button class="btn btn-light rounded-pill "[routerLink]="'/logout'" type="button">Logout</button>
              </div>
            </form>
        </div>
      </div>
    </nav>
</section> 
<br><br>
<div class="image-container">
    <div class="container-fluid mt-3">
      <div class="row">
        <div class="col text-center">
          <img src="assets/Firefly groceries-light orange colour in rice and green tea leafy 13507.png" id="animated-image"style="width: auto; height:auto;" class="img-fluid imgs">
        </div>
      </div>
    </div>
  </div>
  <br>
  <div class="text-center">
      <h1>Meet Your Local Pulse Purveyor: A Seller's Commitment</h1>
      <p>At the heart of our pulse paradise is a passionate seller dedicated to bringing you the very best in nutrition, flavor, and quality. Let us introduce you to the driving force behind the pulses you love.</p>
  </div>
  
  <br>
  <div class="container">
      <div class="row">
        <!-- Image Column -->
        <div class="col-6 col-md-6">
          <div class="">
          <img src="assets/2778410.jpg" alt="Your Image" class="img-fluid img ">
          </div>
        </div>
  
        <!-- Content Column -->
        <div class="col-6 col-md-6">
          <h2> Nutrient-Rich Lentils</h2>
          <p>From hearty green lentils to delicate red lentils, our collection offers a spectrum of flavors and textures to enhance your soups, stews, and salads.</p>
          <h3>Wholesome Chickpeas</h3>
           <p>Dive into the versatility of chickpeas – perfect for hummus, curries, or roasting for a healthy snack. Discover different varieties to suit your culinary needs.</p>
           <h4>Fiber-Packed Beans</h4>
           <p>Whether it's black beans, kidney beans, or navy beans, our selection is a treasure trove of fiber-rich options to add substance and nutrition to your meals.</p>
          <!-- Add your content here -->
        </div>
      </div>
    </div>
    <br>
    <div class="text-center reveal">
      <h3>Pulses Excellence, Redefined</h3>
    </div>
    <br>
  
    <div class="container reveal">
      <div class="row">
        <!-- Image Column -->
        <div class="col-6 col-md-6">
         <h2> Premium Quality</h2>
         <p>We source our pulses directly from trusted farmers, ensuring that every pack delivers the highest quality and freshness to your kitchen.</p>
         <h3>Organic Choices</h3>
         <p>Choose from our range of organic pulses, grown with care and without synthetic pesticides. Prioritize your health and the well-being of the planet.</p>
         <h4> Cooking Inspiration</h4>
         <p>Elevate your cooking with our curated recipes and cooking tips. Transform ordinary meals into extraordinary culinary experiences with Farmer's Market pulses.</p>
         
        </div>
  
        <!-- Content Column -->
        <div class="col-6 col-md-6">
          <div class="">
              <img src="assets/4072378.jpg" alt="Your Image" class="img-fluid img">
              </div>
        </div>
      </div>
    </div>
    <br>
    <div class="text-center reveal">
      <h3>Easy Ordering, Fresh Deliveries</h3>
    </div>
    <br>
    <div class="container reveal">
        <div class="row">
          <!-- Image Column -->
          <div class="col-6 col-md-6">
            <div class="text-center">
            <img src="assets/6250704.jpg" alt="Your Image" class="img-fluid img1">
            </div>
          </div>
    
          <!-- Content Column -->
          <div class="col-6 col-md-6">
            <h2>Effortless Shopping</h2>
            <p>Navigate our user-friendly website and effortlessly fill your cart with the best pulses. The simplicity of online shopping meets the excellence of our products.</p>
            <h3> Doorstep Delivery</h3>
             <p>Enjoy the convenience of doorstep delivery. Your pulses are carefully packed and delivered promptly to ensure you experience freshness with every order.</p>
            <!-- Add your content here -->
          </div>
        </div>
      </div>
   <!--<section class="mb-5 mb-lg-10">-->
  
      <h3 class="fw-bold text-center mb-4">Pricing</h3>
<section class="container">
    <div class="container">
      <div class="row">
        <div class="col-6 col-md-6">
    
          <div class="card shadow-lg rounded-5">
            <div class="card-header text-center pt-4">
              <p class="text-uppercase p">
                <strong>Basic</strong>
              </p>
    
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <img src="assets/8173076.jpg" class="img-fluid image9">

                </div>
                <div class="col">

                </div>
              </div>
            </div>
          </div>
    
        </div>
    
        <div class="col-6 col-md-6">
    
          <div class="card shadow-lg rounded-5">
            <div class="card-header text-center pt-4">
              <p class="text-uppercase p">
                <strong>Advanced</strong>
              </p>
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <img src="assets/4409781.jpg" class="img-fluid image9">

                </div>
                <div class="col">

                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
   </div>
</section>
<br>
<div class="row">
  <div class="col-6 col-sm-6 text-end">
    <img src="assets/3702077.jpg" alt="logo" class="logo3 img-fluid">
  </div>
  <div class="col-6 col-sm-6">
      <button class="btn btn-dark btn-lg center" style="margin-top: 70px; margin-left: 20px;" [routerLink]="'/page10'">Farmer Store</button>
  </div>
</div>
<br>
<section class="content">
  <!-- Footer -->
<footer class="text-center text-lg-start text-light bg-dark text-muted shadow-lg rounded-top-5">
  <!-- Section: Social media -->
  <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
    <!-- Left -->
    <div class="me-5 d-none d-lg-block text-white">
      <span>Get connected with us on social networks:</span>
    </div>
    <!-- Left -->

    <!-- Right -->
    <div class="">
      <a href="" class="me-4 link-secondary">
        <i class="" style="font-size: 24px;" [routerLink]="'/card'"><img src="assets/icons8-facebook-f-24.png"></i>
      </a>
      <a href="" class="me-4 link-secondary">
        <i class="" style="font-size: 24px;" [routerLink]="'/card'"><img src="assets/icons8-instagram-25.png"></i>
      </a>
      <a href="" class="me-4 link-secondary">
        <i class="" style="font-size: 24px;" [routerLink]="'/card'"><img src="assets/icons8-linkedin-25.png"></i>
      </a>
      <a href="" class="me-4 link-secondary">
        <i class="" style="font-size: 24px;" [routerLink]="'/card'"><img src="assets/icons8-twitter-25 (1).png"></i>
      </a>
    </div>
    <!-- Right -->
  </section>
  <!-- Section: Social media -->

  <!-- Section: Links  -->
  <section class="">
    <div class="container text-center text-md-start mt-5 text-white">
      <!-- Grid row -->
      <div class="row mt-3">
        <!-- Grid column -->
        <div class="col-3 col-md-3 col-lg-4 col-xl-3 mx-auto mb-4 ">
          <!-- Content -->
          <h5 class="text-uppercase mb-4">
            <i class="" style="margin-right: 10px;" [routerLink]="'/card'"><img src="assets/farmer-high-resolution-logo-white-transparent.png" class="logo"></i>
          </h5>
          <p>
            “Agriculture is the most healthful, most useful, and most noble employment of man.”
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-3 col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h5 class="text-uppercase  mb-4">
           Product 
          </h5>
          <p>
            <a href="#!" class="text-reset ">Rice</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Coffee</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Spices</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Pulsees</a>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-3 col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h5 class="text-uppercase  mb-4">
            Useful links
          </h5>
          <p>
            <a href="" class="text-reset">Farmer</a>
          </p>
          <p>
            <a href="" class="text-reset">Agirculture</a>
          </p>
          <p>
            <a href="" class="text-reset">Aquaculture</a>
          </p>
          <p>
            <a href="" class="text-reset">The Weaver</a>
          </p>
          
          
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-3 col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <!-- Links -->
          <h5 class="text-uppercase  mb-4">Contact</h5>
          <p><i class="i"[routerLink]="'/card'"><img src="assets/icons8-homeadvisor-24.png" class="icon"></i>
             2-134,cinima veedhi,G.vemavaram,East Godavari,Andhra Pradesh-533464
            </p>
          <p>
            <i class="img"  [routerLink]="'/card'"><img src="assets/icons8-gmail-24.png"  class="icon"></i>
             Farmer&#64;gmail.com
          </p>
          <p><i class="i"  [routerLink]="'/card'"><img src="assets/icons8-phone-24.png"  class="icon"></i> +91 93478 77756</p>
          <p><i class="i"  [routerLink]="'/card'"><img src="assets/icons8-phone-24 (1).png"  class="icon"></i>+91 96667 54367

          </p>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
  </section>
  <!-- Section: Links  -->

  <!-- Copyright -->
  <div class="text-center text-light p-4" style="background-color: rgba(239, 233, 233, 0.025);">
    © 2023 Copyright:
    <a class="text-reset fw-bold" href="https://mdbootstrap.com/">Farmer.com</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->
</section>
