.girl{
    margin-left:200px ;

}
.image{
    height: 570px;
    width: 1000px;
}
@media (max-width: 600px) {
    .image{
        width: 240px;
        height: 150px;
        margin-left: 55px;
    }
}
.logo{
    width: 70px;
    height: 30px;
  }
.logout{
    margin-left: 20px;
}