<section class="container nav">
  <nav class="navbar navbar-expand-sm navbar-dark bg-dark fixed-top ">
      <div class="container-fluid">
        <a class="navbar-brand" href="javascript:void(0)"><img src="assets/farmer-high-resolution-logo-transparent (1).png"class="logo" alt=""></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-center" id="mynavbar">
          <ul class="navbar-nav me-auto ">
            <li class="nav-item">
              <a class="nav-link"aria-current="page2"[routerLink]="'/page1'">Farmer</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" aria-current="page2"[routerLink]="'/page2'">Groceries</a>
            </li>
            <li class="nav-item">
              <a class="nav-link"aria-current="page2"[routerLink]="'/nursery'">Nursery Plants</a>
            </li>
            <li class="nav-item">
              <a class="nav-link"aria-current="page2"[routerLink]="'/page4'">The Weaver</a>
            </li>
            <li class="nav-item">
              <a class="nav-link"aria-current="page2"[routerLink]="'/contact'">Contact Us</a>
            </li>
          </ul>
          <i class="" style="font-size: 30px;" [routerLink]="'/favourite'"><img src="assets/icons8-flower-30 (3).png"></i>
          <div style="font-size: 9px;" class="badge bg-danger Search">{{favourite}}</div>&nbsp;&nbsp;&nbsp;
          <i class="" style="font-size: 30px;" [routerLink]="'/card'"><img src="assets/icons8-shopping-cart-24.png"></i>
            <div style="font-size: 9px;" class="badge bg-danger Search">{{totalcard}}</div>
            &nbsp;&nbsp;&nbsp;
            <form class="d-flex">
              <div>
              <button class="btn btn-light rounded-pill "[routerLink]="'/logout'" type="button">Logout</button>
              </div>
            </form>
        </div>
      </div>
    </nav>
</section> 
<br><br>
<div class="image-container ">
  <div class="container-fluid mt-3">
    <div class="row">
      <div class="col text-center">
        <img src="assets/Firefly Farmer-agriculture plants 97991.png" style="width:1200px; height:auto;" class="img-fluid img-farmers">
      </div>
    </div>
  </div>
</div>
<br>
<div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>

  <div class="carousel-inner rounded-6 shadow-5-strong">
    <div class="carousel-item active" data-bs-interval="10000">
      <img src="assets/paz-arando-zwZusrYAGoM-unsplash.jpg" class="d-block w-100 img" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h2 class="text"><strong>Farmer</strong></h2>
        <p class="text"><strong>"The ultimate goal of farming is not the growing of crops, but the cultivation and perfection of human beings."</strong> </p>
      </div>
    </div>
    <div class="carousel-item" data-bs-interval="2000">
      <img src="assets/sebastian-pena-lambarri-YV593oyMKmo-unsplash.jpg" class="d-block w-100 img" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h2 class="text-light"><strong>Aquaculture</strong></h2>
        <p class="text-light"><strong>the farming of fish, crustaceans, mollusks, aquatic plants, algae, and other organisms.
       </strong> </p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="assets/zuzana-kacerova-UrNI482bHWU-unsplash (1).jpg" class="d-block w-100 img" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h2 class="text2"><strong>The Weaver</strong></h2>
        <p class="text2" ><strong> person who makes fabric by weaving fiber together is a weaver</strong></p>
      </div>
    </div>
  </div>
  
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<br>
<div class="text-center reveal">
    <h1>Welcome to Farmer: Nourishing Communities with Freshness</h1>
    <p>At Farmer, we bring the fields to your table. Our dedication to quality, sustainability, and the livelihood of local farmers defines our mission.</p>
</div>

<br>
<div class="container reveal ">
    <div class="row">
      <!-- Image Column -->
      <div class="col-6 col-md-6 text-center">
        <div>
        <img src="assets/9061738.jpg" alt="Your Image" class="img-fluid image-farmer">
        </div>
      </div>

      <!-- Content Column -->
      <div class="col-6 col-md-6">
        <h1>Farm-to-Table Excellence</h1>
        <p>Experience the essence of freshness with our curated selection of farm-to-table delights. From handpicked fruits to organically grown vegetables, we connect you directly with local farmers to ensure the highest quality produce reaches your kitchen.</p>
        <br>
        <h2> Supporting Local Agriculture</h2>
         <p>Farmer isn't just a platform; it's a movement to support local agriculture. By choosing Farmer, you contribute to the sustainability of local farms, helping communities thrive while enjoying the freshest, tastiest products available.</p>
        <!-- Add your content here -->
      </div>
    </div>
  </div>
  <br>
  <br>
  <div class="text-center reveal">
    <h1>If the farmer is rich, then so is the nation</h1>
    <p>“The farmer is the only man in our economy who buys everything at retail, sells everything at wholesale, and pays the freight both ways.”</p>
  </div>
  <br>
  <br>
  <div class="container reveal">
    <div class="row">
      <!-- Image Column -->
      <div class="col-6 col-md-6">
       <h1>Harvested with Care</h1>
       <p>Every product is a testament to the meticulous care of our local farmers, ensuring you receive the freshest and most vibrant ingredients.</p>
       <h2>Sustainability at Heart</h2>
       <p>We're committed to sustainability, offering you a guilt-free indulgence with our range of eco-friendly and organic choices.</p>
       <h3>Empowering Communities</h3>
       <p>Your purchase isn't just a transaction; it's a gesture that empowers local farmers and sustains the heartbeat of communities.</p>
      </div>

      <!-- Content Column -->
      <div class="col-6 col-md-6 text-center">
        <div >
            <img src="assets/9372006.jpg" alt="Your Image" class="img-fluid image-farmer">
        </div>
      </div>
    </div>
  </div>
<br>
<br>
<h1 class="text-center reveal">Methods and Types of Farming</h1> 
<br><br>
<section>
  <div class="container reveal">
      <div class="row">
         

          <!-- DNA Medical Section -->
          <div class="col-4 col-sm-4">
              <div class="icon-container" style="text-align: center">
                <svg xmlns="http://www.w3.org/2000/svg" width="80" height="80" fill="currentColor"  class="bi bi-shield-fill-exclamation" viewBox="0 0 16 16">
                  <path fill-rule="evenodd" d="M8 0c-.69 0-1.843.265-2.928.56-1.11.3-2.229.655-2.887.87a1.54 1.54 0 0 0-1.044 1.262c-.596 4.477.787 7.795 2.465 9.99a11.777 11.777 0 0 0 2.517 2.453c.386.273.744.482 1.048.625.28.132.581.24.829.24s.548-.108.829-.24a7.159 7.159 0 0 0 1.048-.625 11.775 11.775 0 0 0 2.517-2.453c1.678-2.195 3.061-5.513 2.465-9.99a1.541 1.541 0 0 0-1.044-1.263 62.467 62.467 0 0 0-2.887-.87C9.843.266 8.69 0 8 0zm-.55 8.502L7.1 4.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0zM8.002 12a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"/>
                </svg>
                  <br>
                  <br>
                  <h5>Chemical farming</h5>
                  <p>
                    Chemical farming, on the other hand, refers to the use of synthetic chemicals, pesticides, GMOs to produce crops.
                  </p>
              </div>
          </div>
          <br>
          <!-- Languages Section -->
          <div class="col-4 col-sm-4">
              <div class="icon-container" style="text-align: center">
                <svg xmlns="http://www.w3.org/2000/svg" width="120" height="120" fill="currentColor" class="bi bi-shield-fill-check" viewBox="0 0 16 16">
                  <path fill-rule="evenodd" d="M8 0c-.69 0-1.843.265-2.928.56-1.11.3-2.229.655-2.887.87a1.54 1.54 0 0 0-1.044 1.262c-.596 4.477.787 7.795 2.465 9.99a11.777 11.777 0 0 0 2.517 2.453c.386.273.744.482 1.048.625.28.132.581.24.829.24s.548-.108.829-.24a7.159 7.159 0 0 0 1.048-.625 11.775 11.775 0 0 0 2.517-2.453c1.678-2.195 3.061-5.513 2.465-9.99a1.541 1.541 0 0 0-1.044-1.263 62.467 62.467 0 0 0-2.887-.87C9.843.266 8.69 0 8 0zm2.146 5.146a.5.5 0 0 1 .708.708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7.5 7.793l2.646-2.647z"/>
                </svg>
                 <br>
                 <br>
                  <h5>Organic farming </h5>
                  <p>Organic farming refers to the practice of growing crops without the use of synthetic pesticides, fertilizers, or genetically modified seeds</p>
              </div>
          </div>
          <br>
          <div class="col-4 col-sm-4">
            <div class="icon-container" style="text-align: center">
              <svg xmlns="http://www.w3.org/2000/svg" width="80" height="80" fill="currentColor" class="bi bi-shield-fill-plus " viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M8 0c-.69 0-1.843.265-2.928.56-1.11.3-2.229.655-2.887.87a1.54 1.54 0 0 0-1.044 1.262c-.596 4.477.787 7.795 2.465 9.99a11.777 11.777 0 0 0 2.517 2.453c.386.273.744.482 1.048.625.28.132.581.24.829.24s.548-.108.829-.24a7.159 7.159 0 0 0 1.048-.625 11.775 11.775 0 0 0 2.517-2.453c1.678-2.195 3.061-5.513 2.465-9.99a1.541 1.541 0 0 0-1.044-1.263 62.467 62.467 0 0 0-2.887-.87C9.843.266 8.69 0 8 0zm-.5 5a.5.5 0 0 1 1 0v1.5H10a.5.5 0 0 1 0 1H8.5V9a.5.5 0 0 1-1 0V7.5H6a.5.5 0 0 1 0-1h1.5V5z"/>
              </svg>
               <br>
               <br>
                <h5>integrated organic farming</h5>
                <p>The integrated farming process consists of integrating pest management and nutrients management to achieve ecological requirements and fulfill the economic demands also.</p>
            </div>
        </div>
      </div>
  </div>
</section>
<br>
<br>

  <div class="container-fluid p-5 text-light text-center shadow-lg p-0 mb-5 rounded-5  bg-dark rounde">
    <h1>Join the Farmer Community</h1>
    <p>As a Farmer member, you're not just a customer; you're part of a community passionate about good food. Enjoy exclusive access to culinary events, workshops, and tastings, connecting with fellow food enthusiasts</p> 
  </div>  
  
  <section class="content">
    <!-- Footer -->
  <footer class="text-center text-lg-start text-light bg-dark text-muted shadow-lg rounded-top-5">
    <!-- Section: Social media -->
    <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
      <!-- Left -->
      <div class="me-5 d-none d-lg-block text-white">
        <span>Get connected with us on social networks:</span>
      </div>
      <!-- Left -->
  
      <!-- Right -->
      <div class="">
        <a href="" class="me-4 link-secondary">
          <i class="" style="font-size: 24px;" [routerLink]="'/card'"><img src="assets/icons8-facebook-f-24.png"></i>
        </a>
        <a href="" class="me-4 link-secondary">
          <i class="" style="font-size: 24px;" [routerLink]="'/card'"><img src="assets/icons8-instagram-25.png"></i>
        </a>
        <a href="" class="me-4 link-secondary">
          <i class="" style="font-size: 24px;" [routerLink]="'/card'"><img src="assets/icons8-linkedin-25.png"></i>
        </a>
        <a href="" class="me-4 link-secondary">
          <i class="" style="font-size: 24px;" [routerLink]="'/card'"><img src="assets/icons8-twitter-25 (1).png"></i>
        </a>
      </div>
      <!-- Right -->
    </section>
    <!-- Section: Social media -->
  
    <!-- Section: Links  -->
    <section class="">
      <div class="container text-center text-md-start mt-5 text-white">
        <!-- Grid row -->
        <div class="row mt-3">
          <!-- Grid column -->
          <div class="col-3 col-md-3 col-lg-4 col-xl-3 mx-auto mb-4 ">
            <!-- Content -->
            <h5 class="text-uppercase mb-4">
              <i class="" style="margin-right: 10px;" [routerLink]="'/card'"><img src="assets/farmer-high-resolution-logo-white-transparent.png" class="logo"></i>
            </h5>
            <p>
              “Agriculture is the most healthful, most useful, and most noble employment of man.”
            </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-3 col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h5 class="text-uppercase  mb-4">
             Product 
            </h5>
            <p>
              <a href="#!" class="text-reset ">Rice</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Coffee</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Spices</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Pulsees</a>
            </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-3 col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h5 class="text-uppercase  mb-4">
              Useful links
            </h5>
            <p>
              <a href="" class="text-reset">Farmer</a>
            </p>
            <p>
              <a href="" class="text-reset">Agirculture</a>
            </p>
            <p>
              <a href="" class="text-reset">Aquaculture</a>
            </p>
            <p>
              <a href="" class="text-reset">The Weaver</a>
            </p>
            
            
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-3 col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            <!-- Links -->
            <h5 class="text-uppercase  mb-4">Contact</h5>
            <p><i class="i"[routerLink]="'/card'"><img src="assets/icons8-homeadvisor-24.png" class="icon"></i>
               2-134,cinima veedhi,G.vemavaram,East Godavari,Andhra Pradesh-533464
              </p>
            <p>
              <i class="img"  [routerLink]="'/card'"><img src="assets/icons8-gmail-24.png"  class="icon"></i>
               Farmer&#64;gmail.com
            </p>
            <p><i class="i"  [routerLink]="'/card'"><img src="assets/icons8-phone-24.png"  class="icon"></i> +91 93478 77756</p>
            <p><i class="i"  [routerLink]="'/card'"><img src="assets/icons8-phone-24 (1).png"  class="icon"></i>+91 96667 54367
  
            </p>
          </div>
          <!-- Grid column -->
        </div>
        <!-- Grid row -->
      </div>
    </section>
    <!-- Section: Links  -->
  
    <!-- Copyright -->
    <div class="text-center text-light p-4" style="background-color: rgba(239, 233, 233, 0.025);">
      © 2023 Copyright:
      <a class="text-reset fw-bold" href="https://mdbootstrap.com/">Farmer.com</a>
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->
  </section>

  