<section class="container nav">
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark fixed-top ">
        <div class="container-fluid">
          <a class="navbar-brand" href="javascript:void(0)"><img src="assets/farmer-high-resolution-logo-transparent (1).png"class="logo" alt=""></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse justify-content-end" id="mynavbar">
            <form class="d-flex">
              <div>
              <button class="btn btn-light rounded-pill "[routerLink]="'/login'" type="button">Signup</button>
              </div>
            </form>
          </div>
        </div>
      </nav>
  </section>
  <br><br>
<div>
    <div class="container">
        <div class=" text-center ">
            <img src="assets/2778407.jpg" alt="logo"class="image">
            <a><h2 class="h2">Thanks for reaching out</h2><button class="btn btn-dark btn-md rounded-pill" [routerLink]="'/login'">login</button></a>
        </div>
        
    </div>   
</div>


