.girl{
    margin-left:200px ;

}
.image{
    height: 600px;
    width: 1000px;
}
@media (max-width: 600px) {
    .image{
      width : 270px;
      height: auto;
      margin-left: 60px;
    }
}
.logo{
    width: 70px;
    height: 30px;
  }
.logout{
    margin-left: 20px;
}